<!DOCTYPE HTML>
<!--
        Alpha by HTML5 UP
        html5up.net | @n33co
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="{{url}}global/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{{url}}global/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="{{url}}global/css/ie8.css" /><![endif]-->
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1><a href="{{url}}">Ticket4All</a> by onDrios</h1>
                {% block titulo %} {% endblock %}
                <nav id="nav">
                    <ul>
                        {% block prenav %}{% endblock %}
                        <li><a href="{{url}}Profile"><span class="icon fa-user accent4"></span> {{user.nombre}}</a></li>
                        <li><a href="{{url}}ControlPanel">Inicio</a></li>
                        <li><a href="{{url}}signout" class="button">Salir</a></li>
                        {% block postnav %}{% endblock %}
                    </ul>
                </nav>
            </header>

            <!-- Main -->
            {% block contenido %}{% endblock %}

            <!-- Footer -->
            <footer id="footer">
                {% block footer %}{% endblock %}
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy;onDrios. All rights reserved.</li><li>Design: <a href="http://www.ondrios.com">onDrios</a></li>
                </ul> 
            </footer>

        </div>

        <!-- Scripts -->
        <script src="{{url}}global/js/jquery.min.js"></script>
        <script src="{{url}}global/js/jquery.dropotron.min.js"></script>
        <script src="{{url}}global/js/jquery.scrollgress.min.js"></script>
        <script src="{{url}}global/js/skel.min.js"></script>
        <script src="{{url}}global/js/util.js"></script>
        <!--[if lte IE 8]><script src="{{url}}global/js/ie/respond.min.js"></script><![endif]-->
        <script src="{{url}}global/js/main.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>