<!DOCTYPE HTML>
<!--
        Alpha by HTML5 UP
        html5up.net | @n33co
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
        url: html5up.net/alpha
-->
<html>
    <head>
        <title>{{ titulo }}Ticket4All</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="{{ url }}global/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{{ url }}global/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ url }}global/css/ie8.css" /><![endif]-->
        {% block head %}{% endblock %}
    </head>
    <body class="landing">
        <div id="page-wrapper">
            <!-- Header -->
            <header id="header" class="alt">
                <h1><a href="index.html">Ticket4All</a> by onDrios</h1>
                <nav id="nav">
                    <ul>
                        <li><a href="index.php?accion=inicio">Inicio</a></li>
                        <li><a href="index.php?accion=contacto">Contacto</a></li>
                        <li>
                            <a href="#" class="icon fa-angle-down">Layouts</a>
                            <ul>
                                <li><a href="baseGeneric.html">Generic</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="elements.html">Elements</a></li>
                                <li>
                                    <a href="#">Submenu</a>
                                    <ul>
                                        <li><a href="#">Option One</a></li>
                                        <li><a href="#">Option Two</a></li>
                                        <li><a href="#">Option Three</a></li>
                                        <li><a href="#">Option Four</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{{url}}signup" class="button">Regístrate</a></li>
                        <li><a href="{{url}}signin" class="button">Entrar</a></li>
                    </ul>
                </nav>
            </header>

            <section id="banner">
                <h2>Ticket4All</h2>
                <p>Tu sistema de gestión, y venta de entradas, rápido, seguro y más sencillo.</p>
                <ul class="actions">
                    <li><a href="{{url}}signup" class="button special">Regístrate</a></li>
                    <li><a href="{{url}}about" class="button">Vea Más</a></li>
                </ul>
            </section>
            
            <section id="main" class="container">
                <section class="box special">
                    <header class="major">
                        <h2>Introducing the ultimate mobile app
                            <br />
                            for doing stuff with your phone</h2>
                        <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
                            adipiscing nunc adipiscing. Condimentum turpis massa.</p>
                    </header>
                    <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
                </section>

                <section class="box special features">
                    <div class="features-row">
                        <section>
                            <span class="icon major fa-bolt accent2"></span>
                            <h3>Magna etiam</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        </section>
                        <section>
                            <span class="icon major fa-area-chart accent3"></span>
                            <h3>Ipsum dolor</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        </section>
                    </div>
                    <div class="features-row">
                        <section>
                            <span class="icon major fa-cloud accent4"></span>
                            <h3>Sed feugiat</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        </section>
                        <section>
                            <span class="icon major fa-lock accent5"></span>
                            <h3>Enim phasellus</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        </section>
                    </div>
                </section>

                <div class="row">
                    <div class="6u 12u(narrower)">

                        <section class="box special">
                            <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
                            <h3>Sed lorem adipiscing</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                            <ul class="actions">
                                <li><a href="#" class="button alt">Learn More</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="box special">
                            <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
                            <h3>Accumsan integer</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                            <ul class="actions">
                                <li><a href="#" class="button alt">Learn More</a></li>
                            </ul>
                        </section>

                    </div>
                </div>
            </section>



            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy;onDrios. All rights reserved.</li><li>Design: <a href="http://www.ondrios.com">onDrios</a></li>
                </ul>
            </footer>

        </div>

        <!-- Scripts -->
        <script src="{{ url }}global/js/jquery.min.js"></script>
        <script src="{{ url }}global/js/jquery.dropotron.min.js"></script>
        <script src="{{ url }}global/js/jquery.scrollgress.min.js"></script>
        <script src="{{ url }}global/js/skel.min.js"></script>
        <script src="{{ url }}global/js/util.js"></script>
        <!--[if lte IE 8]><script src="global/js/ie/respond.min.js"></script><![endif]-->
        <script src="{{ url }}global/js/main.js"></script>
        {% block script %}{% endblock %}

    </body>
</html>