{% extends "base/baseGeneric.html" %}
{% block head %}

{% endblock %}


{% block contenido %}

<section id="main" class="container">
    <header>
        <h2>¿Qué es Ticket4all?</h2>
        <p>Una manera fácil de administrar el acceso a tus eventos</p>
    </header>
    <div class="box">
        
    </div>
</section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}