{% extends "base/baseGenericLogined.html" %}
{% block head %}{% endblock %}

{% block titulo %} 
<h1 style="margin-left: 44%"> Añadir portero</h1>
{% endblock %}


{% block prenav %} 

{% endblock %}

{% block contenido %}

<section id="main" class="container">
    <form method="post" action="{{url}}guardarPortero">
        
        <header><h4 class="tituloFohiddrm">Informacion acerca del evento</h4></header>
        <section class="box">
            <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                    <input type="text" name="nomUsuario" id="nomUsuario" placeholder="Nombre del portero"/>
                    <input type="hidden" name="idEvento" id="idEvento" value="{{idEvento}}">
                </div>
            </div>
        <section class="box">
        <div class="12u">
                    <ul class="actions align-center" style="text-align: center;">
                        <li><input name="anadirPortero" type="submit" value="Añadir Portero" /></li>
                    </ul>
        </div>
        </section>
    </form>



</section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}