{% extends "base/baseGenericLogined.html" %}
{% block head %}{% endblock %}

{% block titulo %} 
<h1 style="margin-left: 44%"> Panel de Control</h1>
{% endblock %}


{% block prenav %} 

{% endblock %}

{% block contenido %}

<section id="main" class="container">
    {% if action==1 %}
    <section class="container" style="text-align: center;">
        <span class="icon major fa-thumbs-up" style="font-size: 8px;margin-right: 5%;"></span>Evento creado correctamente<a class="button small" style="margin-left: 5%;" href="{{url}}ControlPanel">Aceptar</a>
    </section>
            {% endif %}
        <section class="box special features">
            
            <div class="features-row">
                <section>
                    <a href="{{url}}CrearEvento">
                        <div>
                        <span class="icon major fa-plus accent2" style="cursor: pointer" ></span>
                        <h3>Crear Evento</h3>
                        <p style="color: #646464">Seleciona el número de entradas y empieza a vender tus entradas.</p>
                        </div>
                    </a>
                </section>
                <section>
                   <a href="{{url}}MyEvents">
                        <div>
                        <span class="icon major fa-eye accent3" style="cursor: pointer" ></span>
                        <h3>Mis Eventos</h3>
                        <p style="color: #646464">Edita y ve la informacion de tus eventos. Envia las entradas por correo.</p>
                        </div>
                    </a>
                </section>
                 </div>
            <div class="features-row">
                <section>
                   <a href="{{url}}Profile">
                        <div>
                        <span class="icon major fa-user accent3" style="cursor: pointer" ></span>
                        <h3>Perfil</h3>
                        <p style="color: #646464">Visualiza y edita todos tus datos.</p>
                        </div>
                    </a>
                </section>
                <section>
                   <a href="#">
                        <div>
                        <span class="icon major fa-database accent4" style="cursor: pointer" ></span>
                        <h3>Historial de Eventos</h3>
                        <p style="color: #646464">Todos tus eventos realizados aquí.</p>
                        </div>
                    </a>
                </section>
            </div>
        </section>
   
</section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}