{% extends "base/baseGenericLogined.html" %}
{% block head %}{% endblock %}

{% block titulo %} 
<h1 style="margin-left: 44%"> Crear Evento</h1>
{% endblock %}


{% block prenav %} 

{% endblock %}

{% block contenido %}

<section id="main" class="container">
    <form method="post" action="{{url}}createevent">
        
        <header><h4 class="tituloForm">Informacion acerca del evento</h4></header>
        <section class="box">
            <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                    <input type="text" name="name" id="eventname" placeholder="Nombre del evento"/>
                </div>
                <div class="6u 12u(mobilep)">
                    <input type="text" name="place" id="place" value="" placeholder="Lugar del evento"/>
                </div>
                <div class="12u">
                    <input type="text" name="address" id="address" value="" placeholder="Dirección del evento" />
                </div>  
                <div class="6u 12u(mobilep)">
                    <input type="text" name="city" id="city" placeholder="Ciudad o poblacion del evento"/>
                </div>
                <div class="6u 12u(mobilep)">
                    <input type="date" name="date" id="date" placeholder="Fecha (aaaa/mm/dd)"/>
                </div>
            </div>
        </section>
        
        <header><h4 class="tituloForm">Informacion acerca de las entradas</h4></header>
        <section class="box">
            <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                    <input type="number" name="max" id="max" placeholder="Número de entradas totales para el evento"/>
                </div>
                <div class="6u 12u(mobilep)">
                   <input type="number" name="fisica" id="fisica" placeholder="Número de entradas en formato papel"/>
                </div>
            </div>
        </section>
        <section class="box">
        <div class="12u">
                    <ul class="actions align-center" style="text-align: center;">
                        <li><input name="createevent" type="submit" value="Crear Evento" /></li>
                    </ul>
        </div>
        </section>
    </form>



</section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}