    <!DOCTYPE HTML>
<!--
        Alpha by HTML5 UP
        html5up.net | @n33co
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
        url: html5up.net/alpha
-->
<html>
    <head>
        <title>{{ titulo }}Ticket4All</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="{{ url }}global/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{{ url }}global/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ url }}global/css/ie8.css" /><![endif]-->
        {% block head %}{% endblock %}
    </head>
    <body class="landing">
        <div id="page-wrapper">
            <!-- Header -->
            <header id="header" class="alt">
                <h1><a href="index.html">Ticket4All</a> by onDrios</h1>
                <nav id="nav">
                    <ul>
                        {% if auth == 1 %}
                            <li>{{username}}</li>
                        {% else %}
                        <li><a href="{{url}}">Inicio</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="{{url}}about">¿Qué es Ticket4all?</a></li> 
                        <li><a href="{{url}}signup" class="button">Regístrate</a></li>
                        <li><a href="{{url}}signin" class="button">Entrar</a></li>
                        {% endif %}
                        {% if auth == 1 %}
                            <li><a href="{{url}}signout" class="button">Salir</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            <section id="banner">
                <h2>Ticket4All</h2>
                <p>Tu sistema de gestión, y venta de entradas, rápido, seguro y más sencillo.</p>
                <ul class="actions">
                    <li><a href="{{url}}signup" class="button special">Regístrate</a></li>
                    <li><a href="{{url}}about" class="button">Vea Más</a></li>
                </ul>
            </section>

            <section id="main" class="container">
                <section class="box special">
                    <header class="major">
                        <h2>¿Cómo funciona?</h2>
                        <p>Vende entradas de forma segura, rápida en formato digital y así poder controlar tus eventos y evitar la falisficación de entradas.</p>
                    </header>
                    <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
                </section>

                <section class="box special features">
                    <div class="features-row">
                        <section>
                            <span class="icon major fa-bolt accent2"></span>
                            <h3>Seguridad</h3>
                            <p>Seguirás vendiendo tus entradas de manera personal, de tú a tú.</p>
                        </section>
                        <section>
                            <span class="icon major fa-area-chart accent3"></span>
                            <h3>Evita entradas duplicadas</h3>
                            <p>Cada entrada cuenta con un código QR único encriptado, el cúal si se fotocopia o falsifica sólo permitirá su uso una única vez y así controlando el acceso a tu evento.</p>
                        </section>
                    </div>
                    <div class="features-row">
                        <section>
                            <span class="icon major fa-bolt accent2"></span>
                            <h3>Rápido</h3>
                            <p>Para el acceso al evento, el portero bastará con escanear con un smartphone el código en el mismo tiempo que comprobaría una entrada normal. Para la venta de la entrada simplemente es introudcir un email en la aplicación y nosotros nos encargamos del resto.</p>
                        </section>
                        <section>
                            <span class="icon major fa-area-chart accent3"></span>
                            <h3>Sencillo</h3>
                            <p>No se requiere ningún conocimiento extra para manejar la app, vender las entradas, o generar las entradas.</p>
                        </section>
                    </div>
                   </section>

            </section>



            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy;onDrios. All rights reserved.</li><li>Design: <a href="http://www.ondrios.com">onDrios</a></li>
                </ul>
            </footer>

        </div>

        <!-- Scripts -->
        <script src="{{ url }}global/js/jquery.min.js"></script>
        <script src="{{ url }}global/js/jquery.dropotron.min.js"></script>
        <script src="{{ url }}global/js/jquery.scrollgress.min.js"></script>
        <script src="{{ url }}global/js/skel.min.js"></script>
        <script src="{{ url }}global/js/util.js"></script>
        <!--[if lte IE 8]><script src="global/js/ie/respond.min.js"></script><![endif]-->
        <script src="{{ url }}global/js/main.js"></script>
        {% block script %}{% endblock %}

    </body>
</html>