{% extends "base/baseGenericLogined.html" %}
{% block head %}{% endblock %}

{% block titulo %} 
<h1 style="margin-left: 44%"> Mis Eventos</h1>
{% endblock %}


{% block prenav %} 

{% endblock %}

{% block contenido %}

<section id="main" class="container">
    
    <section class="box">
        
        {% if eventos %}
        <table class="alt" >
            <thead>
            <tr><td>Nombre</td>
            <td>Fecha</td>
            <td style="text-align: center;">Eliminar</td></tr>
            </thead>
            {% for evento in eventos %}
            <tr>
                <td><a href='{{url}}Evento?id={{evento.id}}'>{{evento.nombre}}</a></td>
            <td>{{evento.fecha}}</td>
            <td style="text-align: center;"><a href='{{url}}eliminarEvento?id={{evento.id}}'><span class="icon fa-close"></a></td>
            
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p> No tienes ningún evento programado, ¿por qué no creas uno <a href="{{url}}CrearEvento">aquí</a>?</p>
        {% endif %}
    </section>

</section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}
{% endblock %}