{% extends "base/baseGenericLogined.html" %}
{% block head %}
<link rel="stylesheet" href="{{url}}global/modal/build/modal.css">
{% endblock %}

{% block titulo %} 
<h1 style="margin-left: 44%"> Perfil</h1>
{% endblock %}


{% block prenav %} 

{% endblock %}

{% block contenido %}

<section id="main" class="container">

    <section class="box">
        <h3>Información personal</h3>
        <div class="row">
            <table class="alt">
                <tbody>
                    <tr>
                        <td>Nombre y aplellidos</td><td>{{user.nombre}}</td>
                    </tr>
                    <tr>
                        <td>Nombre de usuario</td><td>{{user.nomUsuario}}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td><td>{{user.email}} <a href="#modal-email"><span style="float: right;" class="icon fa-pencil"></span></a></td>
                    </tr>
                    <tr>
                        <td>Cambiar contraseña</td><td>******** <a href="#modal-pass" ><span style="float: right;" class="icon fa-pencil"></span></a></td>
                    </tr>
                    <tr>
                        <td>Saldo</td><td>{{user.saldo}} <span style="float: right;" class="icon fa-plus"></span></td>
                    </tr>
                </tbody>
            </table>             
        </div>
        <h3>Información sobre eventos</h3>
        <div class="row">
            <table class="alt">
                <tbody>
                    <tr>
                        <td>Eventos realizados </td><td> 1 </td>
                    </tr>
                    <tr>
                        <td>Entradas vendidas </td><td> 100 </td>
                    </tr>
                    <tr><td>Media de entradas por evento</td><td> 100 </td></tr>
                </tbody>
            </table>             
        </div>
        <h3>Información sobre porteros</h3>
        <div class="row">
            <table class="alt">
                <tbody>
                    <tr>
                        <td>Eventos realizados </td><td> 1 </td>
                    </tr>
                    <tr>
                        <td>Entradas vendidas </td><td> 100 </td>
                    </tr>
                    <tr><td>Media de entradas por evento</td><td> 100 </td></tr>
                </tbody>
            </table>             
        </div>
    </section>



</section>

<section class="modal--show" id="modal-email"
         tabindex="-1" role="dialog" aria-labelledby="label-show" aria-hidden="true">

    <div class="modal-inner">
        <header>
            <h3 id="label-show" style="margin-top: 10px">Editar correo</h3>
        </header>

        <div class="modal-content">

            <form method="post" action="{{url}}editEmail">
                <div class="uniform">
                    <input type="email" name="nuevocorreo" id="nuevocorreo" placeholder="Nuevo correo" style="margin: 2px" required/>
                    <input type="email" name="repetircorreo" id="repetircorreo" placeholder="Repita el nuevo correo" style="margin: 2px; margin-top: 10px" required/>
                    <!--<a href="{{url}}Profile" class="button special small" style="float: right; margin-top: 1%;">Cerrar</a>-->
                    <div style="margin-top: 8px">
                        <a href="{{url}}Profile" class="button special small" style="float: right; margin-top: 2px;">Cerrar</a>
                        <button type="submit" class="button small" style="float: right; margin-top: 2px; margin-right: 10px;">Aceptar</button>                
                    </div>
                </div>
            </form>
        </div>
    </div>

    <a href="{{url}}Profile" class="modal-close" title="Close"
       data-dismiss="modal" data-close="Close">&times;</a>
</section>

<section class="modal--show" id="modal-pass"
         tabindex="-1" role="dialog" aria-labelledby="label-show" aria-hidden="true">

    <div class="modal-inner">
        <header>
            <h3 id="label-show" style="margin-top: 10px">Cambiar contraseña</h3>
        </header>
        <div class="modal-content">
            <form method="post" action="{{url}}editPass">
                <div class="uniform">
                    <input type="password" name="passactual" id="passactual" placeholder="Contraseña actual" style="margin: 2px" required/>
                    <input type="password" name="nuevapass" id="nuevapass" placeholder="Inserte la nueva contraseña" style="margin: 2px; margin-top: 10px" required/>
                    <input type="password" name="repetirnuevapass" id="repetirnuevapass" placeholder="Repita la nueva contraseña" style="margin: 2px; margin-top: 10px" required/>
                    <!--<a href="{{url}}Profile" class="button special small" style="float: right; margin-top: 1%;">Cerrar</a>-->
                    <div style="margin-top: 8px">
                        <a href="{{url}}Profile" class="button special small" style="float: right; margin-top: 2px;">Cerrar</a>
                        <button type="submit" class="button small" style="float: right; margin-top: 2px; margin-right: 10px;">Aceptar</button>                
                    </div>
                </div>
            </form>
        </div>  
    </div>

    <a href="{{url}}Profile" class="modal-close" title="Close"
       data-dismiss="modal" data-close="Close">&times;</a>
</section>

{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}  
<!-- JS for Modal -->
<script src="{{url}}global/modal/modal.js"></script>
<!-- Plugins -->
<script src="{{url}}global/modal/plugins/modal-html5video.js"></script>
<script src="{{url}}global/modal/plugins/modal-maxwidth.js"></script>
<script src="{{url}}global/modal/plugins/modal-resize.js"></script>
<script src="{{url}}global/modal/plugins/modal-gallery.js"></script>

{% endblock %}