{% extends "base/baseGeneric.html" %}
{% block head %}

{% endblock %}


{% block contenido %}

<section id="main" class="container 75%">
    <header>
        <h2>Registro</h2>
        <p>Regístrate y empieza a administrar eventos</p>
    </header>
    <div class="box">
        {% if error=='f8032d5cae3de20fcec887f395ec9a6a' %}
        <div class="row">
            <p>El nombre de usuario introducido ya esta en uso.</p>
        </div>
        {% elseif error=='531ac50224f238df5d6efdaf36507cf2' %}
        <div class="row">
            <p>El correo introducido ya ha sido registrado.</p>
        </div>
        {% endif %}
        <form method="post" action="{{url}}signupcheck">
            <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                    <input type="text" name="nombre" id="nickname" value="" placeholder="Nombre" required/>
                </div>
                <div class="6u 12u(mobilep)">
                    <input type="text" name="apellidos" id="apellidos" value="" placeholder="Apellidos" required/>
                </div>
                <div class="12u">
                    <input type="email" name="correo" id="correo" value="" placeholder="Correo" required/>
                </div>
                <div class="12u">
                    <input type="text" name="nickname" id="nickname" value="" placeholder="Nombre de usuario" required/>
                </div>
                <div class="6u 12u(mobilep)">
                    <input type="password" name="pass" id="pass" value="" placeholder="Contraseña" required/>
                </div>
                <div class="6u 12u(mobilep)">
                    <input type="password" name="passBis" id="passBis" value="" placeholder="Repita la contraseña" required/>
                </div>

                <div class="12u align-center" style="text-align: center;">
                    <input type="checkbox" id="terminos" name="terminos" required><label for="terminos">Acepto los</label><a href="{{url}}terminos">términos y condiciones de uso</a>.
                </div>
                <div class="12u align-center" style="text-align: center;">
                    <ul class="actions align-center">
                        <li><input name="registrarse" type="submit" value="Registrarse" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}