{% extends "base/baseGeneric.html" %}
{% block head %}

{% endblock %}


{% block contenido %}

<section id="main" class="container 50%">
    <header>
        <h2>Entrar</h2>
    </header>
    <div class="box">
        {% if error=='7f17f61e91948ade535981ed6eae2b66' %}
        <div class="row">
            <p>Error al iniciar sesion.</p>
        </div>
        {% endif %}
        <form method="post" action="{{url}}login">
            <div class="row uniform 50%">
                <div class="12u">
                    <input type="text" name="username" id="username" value="" placeholder="Nombre de usuario" required/>
                </div>
                <div class="12u">
                    <input type="password" name="password" id="password" value="" placeholder="Contraseña" required/>
                </div>
                <div class="12u align-center" style="text-align: center;">
                <p>Si aun no estas registrado, regístrate <a href="{{url}}signup">aquí</a>.</p>
                </div>
                <div class="12u">
                    <ul class="actions align-center" style="text-align: center;">
                        <li><input name="entrar" type="submit" value="Entrar" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}