{% extends "base/baseGeneric.html" %}
{% block head %}

{% endblock %}


{% block contenido %}

<section id="main" class="container">
    <header>
        <h2>Términos y Condiciones de Uso</h2>
    </header>
    <div class="box">
        
    </div>
</section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}