{% extends "base/baseGenericLogined.html" %}
{% block head %}{% endblock %}

{% block titulo %} 
<h1 style="margin-left: 44%">Datos del evento</h1>
{% endblock %}


{% block prenav %} 

{% endblock %}

{% block contenido %}

<section id="main" class="container">
    
    <section class="box">
        <div style="text-align: center;">
            <h2>{{evento.nombre}}</h2>
        </div>
        <h3>Informacion acerca del evento</h3>
        <div class="row">
            <table class="alt">
                <tbody>
                    <tr>
                        <td>Lugar del evento</td><td>{{evento.lugar}}</td>
                    </tr>
                    <tr>
                        <td>Direccion del evento</td><td>{{evento.direccion}}</td>
                    </tr>
                    <tr>
                        <td>Ciudad del evento</td><td>{{evento.ciudad}}</td>
                    </tr>
                    <tr>
                        <td>Fecha del evento</td><td>{{evento.fecha}}</td>
                    </tr>
                    
                </tbody>
            </table>
            <!--<ul>
                <li>Lugar del evento : {{evento.lugar}}</li>
                <li>Direccion del evento : {{evento.direccion}}</li>
                <li>Ciudad : {{evento.ciudad}}</li>
                <li>Fecha : {{evento.fecha}}</li>
            </ul>-->
        </div>
        <h3>Informacion acerca de las entradas</h3>
        <div class="row">
            <table class="alt">
                <tbody>
                    <tr>
                        <td>Total de entradas creadas para el evento</td><td>{{evento.maxEntradas}}</td>
                    </tr>
                    <tr>
                        <td>Total de personas que han entrado</td><td>{{evento.fisicas}}</td>
                    </tr>                   
                </tbody>
            </table>
           
        </div>
         <a href="{{url}}descargaEntradas?evento={{evento.id}}">Descarga entradas</a>
        <h3>Informacion acerca de los porteros</h3>
        <div class="row">
            {% if porteros %}
            <table class="alt">
                <tbody>
                    {% for portero in porteros %}
                    <tr>
                        <td>{{portero.idPortero}}</td><td><a href="{{url}}eliminarPortero?idPortero={{portero.id}}&evento={{evento.id}}">X</a></td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
            
            {% else %}
            <p>No tiene porteros actualmente en este evento, ¿desea añadir un portero?</p>
            {% endif %}
            <p><a href="{{url}}anadirPortero?idEvento={{evento.id}}">Añadir portero</a></p>
        </div>
        <a href="{{url}}eliminarEvento?id={{evento.id}}">Eliminar Evento</a>
    </section>

</section>

{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}