{% extends "base/baseGenericLogined.html" %}
{% block head %}{% endblock %}

{% block titulo %} 
<h1 style="margin-left: 44%">{{tituloMensaje}}</h1>
{% endblock %}


{% block prenav %} 

{% endblock %}

{% block contenido %}

<section id="main" class="container">
    
    <section class="box">
        <p>{{mensaje}}</p>
        
    </section>

</section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}
{% endblock %}
